
@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&family=Slabo+27px&display=swap');

body {
    font-family: 'Fira Sans', sans-serif;
    padding: 0;
    margin: 0;
}

a {
    color:darkblue;
    font-weight: bold;
}

a:visited {
    color:blue;
}


h1 {
    font-size: 60px;
    color: white;
    text-align: center;
}

q {
    font-family: 'Slabo 27px', sans-serif;
    font-size: 22px;
    font-weight: bold;
}

table {
    float: right;
    margin: 25px;
    border-spacing: 0;
    border-collapse:collapse;
}


th, td {
    height: 50px;
    width: 55px;  
}

td { 
    padding-left:2px;
}

td:nth-child(3n + 2) { 
    padding-left:20px;
    padding-right:4px;
}

#Title {
    padding: 10px;
}

#Row1 {
    background-color: rgb(51, 51, 51);
    color: white;
}

#Header {
    background-color: black;
    height: 450px;
}

#HeaderImage {
    height: 290px;
    width: 100%;
}

#NasaMain {
    padding: 50px;
}

#QuoteBox {
    background-color: rgb(51, 51, 51);
    border-style: double;
    height: 200px;
    width: 220px;
    color: white;
    margin: 25px;
    padding: 25px;
    float: right;
}

#Cite {
    margin-top: 30px;
    margin-left: 50px;
}

#Footer {
    margin:25px;
}

.FooterLink {
    text-decoration: none;
    color:black;
    font-weight: normal;
}

.tab {
    tab-size: 4;
}

@media screen and (max-width: 350px){

    body {
        font-size: 10px;
    }

    h1 {
        font-size: 14px;
    }

    h2 {
        font-size: 12px;
    }

    img {
        height: 100px;
        width: 100px;
    }

    q {
        font-family: 'Slabo 27px', sans-serif;
        font-size: 10px;
        font-weight: bold;
    }

    th, td {
        height: 20px;
        width: 25px;  
    }

    table {
        margin: 5px;
        border-spacing: 0;
        border-collapse:collapse;
    }

    #Header {
        height: 190px;
    }

    #NasaMain {
        padding: 10px;
    }
    

    #QuoteBox {
        height: 100px;
        width: 100px;
        margin: 10px;
        padding: 10px;
    }

    #Cite {
        font-size: 8px;
        margin-top: 15px;
        margin-left: 15px;
    }

    #HeaderImage {
        height: 150px;
    }

    
}


@media screen and (max-width: 500px){

    body {
        font-size: 14px;
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 20px;
    }

    img {
        height: 100px;
        width: 100px;
    }

    q {
        font-family: 'Slabo 27px', sans-serif;
        font-size: 15px;
        font-weight: bold;
    }

    th, td {
        height: 20px;
        width: 25px;  
    }

    table {
        margin: 10px;
        border-spacing: 0;
        border-collapse:collapse;
    }

    #Header {
        height: 300px;
    }

    #NasaMain {
        padding: 10px;
    }
    

    #QuoteBox {
        height: 125px;
        width: 125px;
        margin: 3px;
        padding: 20px;
    }

    #Cite {
        font-size: 10px;
        margin-top: 3px;
        margin-left: 3px;
    }

    #HeaderImage {
        height: 200px;
    }

    
}
